@use "/src/assets/variables" as *;
@use "sass:math";

.home {
  &__banner {
    max-width: $size-1280;
    margin: auto;
    padding: 0 $size-24;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
  }

  &__banner-info-container {
    display: flex;
    flex-direction: column;
  }

  &__title-container {
    width: fit-content;
    margin: auto;
    position: relative;
  }

  &__creative-text {
    font-size: $size-32;
    margin-left: $size-8;
    position: absolute;
    top: -48px;
  }

  &__title {
    font-size: $size-48;
    font-weight: 400;
    margin: auto;
    width: fit-content;
    margin-bottom: $size-12;
  }

  &__subtitle {
    font-size: $size-32;
    margin: 0;
    margin-bottom: $size-32;
  }

  &__description {
    align-self: flex-end;
    max-width: $size-384;
    font-size: $size-16;
    text-align: right;
    line-height: 1.3;
    margin-bottom: $size-24;
  }

  &__button {
    font-size: $size-24;
    color: $color-beige-500;
    background-color: $color-red-500;
    border: none;
    padding: $size-12 $size-24 $size-8;
    border-radius: 50px;
    align-self: flex-end;
    text-decoration: none;

    &--banner {
      margin-bottom: $size-32;
    }

    &:hover,
    &:focus {
      box-shadow: 0 16px 24px 0 rgba(0, 0, 0, 0.12);
    }
  }
}

.about {
  max-width: $size-1280;
  margin: auto;
  padding: 0 $size-24;
  margin-top: $size-64;
  margin-bottom: $size-64;

  &__description-container {
    display: flex;
    flex-direction: column;
  }

  &__description {
    order: 1;
    line-height: 1.5;
  }

  &__images-container {
    display: flex;
    justify-content: flex-end;
    margin-bottom: $size-16;
  }

  &__arrow {
    margin-left: $size-16;
    margin-top: $size-32;
    width: 100px;
  }

  &__pepe-text {
    font-size: $size-16;
    color: $color-green-500;
  }

  &__pepe-image {
    width: auto;
    min-width: 200px;
    max-width: 250px;
    height: fit-content;
  }
}

.skills {
  max-width: $size-1280;
  margin: auto;
  padding: 0 $size-24;
  margin-bottom: $size-96;

  &__title {
    color: $color-red-500;
    text-align: center;
    margin-bottom: $size-8;
  }

  &__subtitle {
    text-align: center;
    font-size: $size-16;
    margin-top: 0;
  }

  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: $size-64;
  }

  &__skill {
    max-width: 100px;
    min-width: 80px;
    margin: $size-24 $size-24;
    text-align: center;
  }

  &__skill-image {
    height: 50px;
    max-width: 100%;
  }
}

.portfolio {
  max-width: $size-1280;
  margin: auto;
  padding: 0 $size-24;
  margin-bottom: $size-48;

  &__title {
    text-align: center;
  }

  &__subtitle {
    text-align: center;
    font-size: $size-16;
    margin-top: 0;
    margin-bottom: $size-32;
  }

  &__content-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  &__element-container {
    margin-bottom: $size-32;
    text-decoration: none;

    &--github-explorer {
      img {
        border-radius: 50px;
        margin-left: 0;
      }
    }

    &--morningstar {
      img {
        margin-top: $size-48;
      }
    }

    &--dicapta {
      img {
        margin-top: $size-4;
      }
    }
  }
}

.contact {
  margin-bottom: $size-48;

  &__container {
    max-width: $size-1280;
    margin: auto;
    padding: 0 $size-24;
  }
  &__title {
    color: $color-red-500;
    text-align: center;
  }

  &__subtitle {
    text-align: center;
    font-size: $size-16;
    margin-top: 0;
    margin-bottom: $size-48;
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: $color-gray-200;
    margin-bottom: $size-16;
  }

  &__list-element {
    font-family: TuskerGrotesk;
    font-weight: 300;
    font-size: $size-16;
    padding: $size-16 $size-12;
    text-align: center;
    color: $color-black-500;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  &__star {
    font-size: $size-24;
    margin-left: $size-24;
  }

  &__text-and-button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: $size-32 0;
    flex-wrap: wrap;
  }

  &__text {
    margin: 0;
    margin-bottom: $size-16;
  }

  &__social-media {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: $generic-border;
    padding-top: $size-48;

    img {
      height: 50px;
      margin-right: $size-16;
    }

    a {
      display: flex;
      text-decoration: none;
      align-items: center;
      color: $color-black-500;
      margin: 0 $size-24;

      &:hover {
        color: $color-blue-500;
      }

      p {
        font-size: $size-24;
        margin: 0;
        display: none;
      }
    }
  }

  // auto scroll animation begins
  $n: 5;
  &__list {
    --d: 30s; /* duration */

    display: grid;
    grid-template-columns: repeat(3, 1fr); /* number of visible images */
    overflow: hidden;
  }

  &__list-element {
    grid-area: 1/1;
    animation: r var(--d) linear infinite;
  }

  ul.scroll-reverse li {
    animation-direction: reverse;
  }

  @for $i from 2 to ($n + 1) {
    ul > li:nth-child(#{$i}) {
      animation-delay: calc((1 - $i) / $n * var(--d));
    }
  }

  @keyframes r {
    #{math.percentage(math.div(1, $n))} {
      transform: translate(-100%);
    }
    #{math.percentage(calc(1/$n + 0.0001))} {
      transform: translate(($n - 1) * 100%);
    }
  }
  // auto scroll animation ends
}

// styles for tablet size (768px) and higher
@media all and (min-width: 48em) {
  .home {
    &__banner-info-container {
      padding: 0 $size-32;
    }

    &__creative-text {
      font-size: $size-48;
    }

    &__title {
      font-size: $size-96;
    }

    &__subtitle {
      font-size: $size-64;
    }

    &__description {
      max-width: $size-512;
      font-size: $size-24;
    }

    &__button {
      font-size: $size-32;
    }
  }

  .about {
    margin-bottom: $size-128;

    &__description-container {
      justify-content: space-between;
      flex-direction: row;
    }

    &__description {
      font-size: $size-24;
      margin-top: $size-128;
      width: 50%;
      order: 0;
    }

    &__images-container {
      margin-left: $size-24;
    }

    &__arrow {
      width: auto;
      margin-top: $size-96;
    }

    &__pepe-text {
      font-size: $size-24;
    }

    &__pepe-image {
      max-width: none;
    }
  }

  .skills {
    &__skill {
      margin: $size-24 $size-64;
    }

    &__skill-image {
      height: 80px;
    }

    &__title {
      text-align: end;
    }

    &__subtitle {
      text-align: end;
      font-size: $size-24;
    }
  }

  .portfolio {
    margin-bottom: $size-96;

    &__title {
      text-align: left;
      margin-bottom: 0;
    }

    &__subtitle {
      text-align: left;
      font-size: $size-24;
    }
  }

  .contact {
    &__title {
      text-align: right;
    }

    &__subtitle {
      text-align: right;
      font-size: $size-24;
      max-width: 800px;
      margin-left: auto;
    }

    &__list-element {
      font-size: $size-32;
      padding: $size-24 $size-12;
    }

    &__star {
      font-size: $size-48;
      margin-left: $size-32;
    }

    &__text-and-button-container {
      margin: $size-48 0;
    }

    &__text {
      font-size: $size-32;
      margin-bottom: 0;
    }

    &__social-media {
      img {
        height: 60px;
      }

      a p {
        display: block;
      }
    }
  }
}
